<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Protocol</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/sorrlogo-removebg-preview.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
       <!-- header section start -->
       <div class="header_section" id="home">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               <a class="logo" href="index.html"><img src="images/sorrlogo-removebg-preview.png"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="Protocole.html">Protocol</a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                     </li>
                  </ul>
                  
               </div>
         </nav>
         </div>
      </div>
      <!-- header section end -->
        <!--  newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="row">
               
             <h1></h1>
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
        <!--  program section start -->
      <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="imgage_6"><img src="images/program.png" style="margin-left:5%;"></div>
               </div>
               
            </div>
         </div>
      </div>
      <!--  program section end -->
         <!--  newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="row" style="text-align: center;">
               <h1 class="newsletter_taital">SKIN AGING</h1>
               <h1 >factors that contribute to</h1>
            </div>
           
         </div>
      </div>
      <!--  newsletter section end -->
       <!--  newsletter section start -->
       <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               
               <div class="col-md-8">
                  <br></br>
                  <br></br>
                  
                  <h1 class="newsletter_taital">INTRINSIC
                     AGING FACTORS</h1>
                  <h1 >• Reduction in production of Hyaluronic acid
                     essential to give hydration and tone of the skin
                  </h1><h1>• Reduction in production of collagen and elastin
                     elements that give elasticity and softness to the
                     skin </h1>
                  
               </div>
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/skin-removebg-preview (1).png" style="border-radius: 5%; "></div>
               </div>
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
       <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/proto2.png" style="border-radius: 5%; "></div>
               </div>
               
               <div class="col-md-8" style="text-align: center;">
                 
                  <h1 class="newsletter_taital">EXTRINSIC
                     AGING FACTORS</h1>
                  <h1 >• Lack of hydration</h1>
                  <h1>• Improper nutrition with refined sugars and fats</h1>
                  <h1>• Lack of sport activity</h1>
                  <h1>• Excessive stress</h1>
                  <h1>• Quality and quantity of sleep</h1>
                  <h1>• Yoyo effect</h1>
                  <h1>• Smoke</h1>
                 
                  
               </div>
             
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
       <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               
               <div class="col-md-8">
                  
                  
                  <h1 class="newsletter_taital">DIFFERENT AGE..
                     ..DIFFERENT NEEDS</h1>
                  <h1 >• THE SKIN AFTER 25 YEARS
                     By th eage of 25, hyaluronic acid that is naturally present in the skin,
                     begins to bind less water. Also the collagen mass and the flexibility begin
                     to decrease by about 1% per year.
                     Therefore the first signs of skin aging start to appear, usually in the form
                     of micro-wrinkles, which mostly affect the epidermis.
                  </h1><h1>• THE SKIN AFTER 30 YEARS
                     By the age of 30, the metabolic process of cells begins to slow down.
                     The skin starts losing elasticity and moisture. Fine lines and wrinkles
                     begin to be more visible. At the hypodermis level: the lower layer of
                     adipose tissue is gradually reduced, causing a loss of density.</h1>
                  
               </div>
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/proto3.png" style="border-radius: 5%; "></div>
               </div>
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
          <!--  newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="row" style="text-align: center;">
               <h1 class="newsletter_taital">COLLAGEN</h1>
               <h1 >AND ITS DEGRADATION</h1>
            </div>
           
         </div>
      </div>   <!--  newsletter section end -->
        <!--  newsletter section start -->
        <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               
               <div class="col-md-8">
                  <br></br>
                  <br></br>
                  
                  <h1 class="newsletter_taital">COLLAGEN:
                     THE MATRIX
                     OF YOUR BODY</h1>
                  <h1 >•Collagen, a diverse family of 28 proteins, constitutes approximately 30%
                     of the body's total protein mass, playing a vital role in providing rigidity,
                     flexibility, traction, and integrity to various tissues such as the skin and
                     bones. In the dermis, collagen is the predominant protein in the extracellular matrix, comprising 90% of the skin's dry mass, and is crucial for
                     the skin's strength and structural integrity
                  
               </div>
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/proto4.png" style="border-radius: 5%; "></div>
               </div>
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
         <div class="newsletter_section layout_padding" style="background-color: white;">
            <div class="container">
               <div class="row">
                  
                  <div class="col-md-12">
                    
                     <h1 class="newsletter_taital" style="text-align: center;">MOLECULAR STRUCTURE & SKIN
                        COLLAGEN DEGRADATION PROCESS</h1>
                     <h1 >Collagen is characterized by a triple helix molecular structure primarily composed of parallel polypeptides,
                        with every third amino acid being glycine. The most common triple chain found in collagen is
                        PRO-HYP-GLY, with proline and 4-hydroxyproline often forming the X-Y-GLY sequence. This unique structure confers resistance to proteolytic actions, although specific proteolytic enzymes, particularly metalloproteinases (MMPs), are known for their high collagen specificity.
                        The turnover rate of collagen in adult humans is notably low, with intracellular degradation primarily
                        associated with physiological processes, while extracellular degradation is linked to pathological processes.
                        Notably, MMPs, including MMP-1, MMP-2, MMP-8, MMP-12, MT1-MMP, and MT3M, are responsible for the
                        degradation of fibrillar collagen, while MMP-3, MMP-10, and membrane-associated MMPs target type 3
                        collagen.
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--  newsletter section end -->
             <!--  newsletter section start -->
        <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/proto5.png" style="border-radius: 5%; "></div>
               </div>
               <div class="col-md-8">
                  <br></br>
                  <br></br>
                  
                  <h1 class="newsletter_taital">NATURAL COLLAGEN
                     BREAKDOWN</h1>
                  <h1 >•With aging, the natural degradation of collagen leads to a reduction in
                     skin elasticity, the formation of wrinkles, and the loss of facial volume.
                     This process is influenced by factors such as UV exposure, lifestyle, and
                     genetics.
                     Impact on Skin Structure:Collagen degradation affects the structural
                     integrity of the skin, contributing to visible signs of aging such as
                     sagging skin and fine lines.
                  
               </div>
              
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
         <div class="newsletter_section layout_padding" style="background-color: white;">
            <div class="container">
               <div class="row">
                  
                  <div class="col-md-8">
                     <br></br>
                     <br></br>
                     
                     <h1 class="newsletter_taital">HYALURONIC ACID
                        INJECTIONS</h1>
                     <h1 >•With aging, the natural degradation of collagen leads to a reduction in
                        skin elasticity, the formation of wrinkles, and the loss of facial volume.
                        This process is influenced by factors such as UV exposure, lifestyle, and
                        genetics.
                        Impact on Skin Structure:Collagen degradation affects the structural
                        integrity of the skin, contributing to visible signs of aging such as
                        sagging skin and fine lines.
                     
                  </div>
                  <div class="col-md-4">
                     <div class="imgage_6" ><img src="images/proto6.png" style="border-radius: 5%; "></div>
                  </div>
                 
               </div>
            </div>
         </div>
         <!--  newsletter section end -->
              <!--  newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="row" style="text-align: center;">
               <h1 class="newsletter_taital">BIOSTIMULATION</h1>
               
            </div>
           
         </div>
         <br></br>
         <br></br>
         <div class="container">
            <div class="row">
               
               <div class="col-md-8">
                  
                  
                  <h1 class="newsletter_taital" >GENERAL
                     DESCRIPTION
                     </h1>
                  <h1 >Biostimulationis a minimally invasive aesthetic
                     treatment that uses substances or technologies
                     to stimulate the natural processes of regeneration
                     of the skin and subcutaneous tissue.
                     This treatment may include the use of biostimulant substances such as vitamins, hyaluronic acid,
                     biomimetic peptides, polynucleotides, lasers or
                     radiofrequency to improve the appearance of the
                     skin, reduce wrinkles, scars or other imperfections.
                  
               </div>
               <div class="col-md-4">
                  <div class="imgage_6" ><img src="images/proto8.png" style="border-radius: 5%; "></div>
               </div>
              
            </div>
         </div>
      </div>   <!--  newsletter section end -->
       <!--  newsletter section start -->
       <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               
               <div class="col-md-12">
                 
                  <h1 class="newsletter_taital" style="text-align: center;">EFFECTS AND BENEFITS</h1>
                  <h1 >Skin biostimulation can have several beneficial effects on the skin, including:</h1>
                  <h1>1. Reduction of wrinkles and fine lines:stimulation of collagen and elastin production can improve skin elasticity, thereby
                     reducing the appearance of wrinkles and fine lines.</h1>
                     <h1>2. Improved skin elasticity: biostimulation can help to make the skin more toned and firm, improving its overall elasticity.</h1>
                     <h1>3. Scar reduction:this treatment can help reduce the appearance of acne scars, surgical scars, or other skin imperfections
                        by promoting skin tissue regeneration.</h1>
                        <h1>4. Skin tone uniformity: biostimulation can help improve the appearance of skin discolorations by reducing dark spots or
                           skin tone irregularities.</h1>
                   <h1>5. Enlarged pore reduction:by stimulating cell renewal and collagen production, biostimulation can help reduce the
                     appearance of enlarged pores, thus improving the overall skin texture.</h1>        
                     <h1>6. Improved skin radiance: thanks to the stimulation of cell regeneration, the skin may appear brighter and radiant after
                        the biostimulation treatment.</h1>
                        <h1>
                           •It is important to note that the effects and benefits of biostimulation can vary from person to person, and may require
multiple sessions to achieve optimal results.
                        </h1>
                  </div>
               
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
        <!--  newsletter section start -->
       <div class="newsletter_section layout_padding" style="background-color: white;">
         <div class="container">
            <div class="row">
               
               <div class="col-md-12">
                 
                  <h1 class="newsletter_taital" style="text-align: center;">HOW?</h1>
                  <h1 >A biostimulation session may vary slightly depending on the type of treatment and the technologies
                     used, but usually follows a general process:</h1>
                  <br></br>
                  </div>
                  
                 
                  <div class="col-md-6 textbox">
                     
                     <h1 >1. Initial consultation: during the first consultation, we will discuss with the patient his aesthetic goals, assess the state of the skin and explain
                        the biostimulation treatment, including the
                        potential risks and benefits</h1>
                  </div>
                  <div class="col-md-6 textbox">
                     
                     <h1 >2. Skin preparation:before treatment, the skin
                        will be thoroughly cleaned to remove any trace
                        of makeup, dirt or oil and disinfection will be
                        carried out.</h1>
                  </div>
                  <div class="col-md-6 textbox">
                     
                     <h1 >3. Application of treatment:depending on the
                        type of biostimulation chosen, treatment may
                        involve the injection of substances such as
                        hyaluronic acid or vitamins, the use of medical
                        technologies, or the topical application of
                        solutions.</h1>
                  </div>
                  <div class="col-md-6 textbox">
                     
                     <h1 >4. Monitoring and follow-up:during treatment,
                        the practitioner will carefully monitor the skin’s
                        response and make any necessary adjustments.
                        After the session, instructions for skin care at
                        home may be provided and a follow-up may be
                        planned to evaluate the results and schedule
                        any additional sessions.</h1>
                  </div>
                 
            </div>
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="row" style="text-align: center;">
               <h1 class="newsletter_taital">SORRENTINO
                  SKINBOOSTER | L |</h1>
             
            </div>
           
         </div>
      </div>
      <!--  newsletter section end -->
         <!--  newsletter section start -->
         <div class="newsletter_section layout_padding" style="background-color: white;">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="imgage_6" style="align-items: center;"><img src="images/conc.png" style="border-radius: 5%; "></div>
                  </div>
                  
                 
                  <div class="col-md-8">
                    
                     <br></br>
                     <h1 class="newsletter_taital">BENEFITS</h1>
                     <h1 >•To meet the growing demand for a versatile product
                        that can treat large areas on the face.</h1>
                        <h1 class="newsletter_taital" style="font-size:25px;">ADVANTAGES</h1>
                        <h1 >•Helps to improve the elasticity of the skin</h1>
                           <h1 >•Helps to reduce wrinkles</h1>
                              <h1 >•Helps to improve skin hydration</h1>
                             
                  </div>
                  
               </div>
            </div>
         </div>
         <!--  newsletter section end -->
            <!--  newsletter section start -->
         <div class="newsletter_section layout_padding" style="background-color: white;">
            <div class="container">
               <div class="row">
                 
                  
                 
                  <table class="table table-bordered">
                     <thead>
                       <tr style="text-align: center;">
                         <th scope="col">Application</th>
                         <th scope="col">Application technique</th>
                         <th scope="col">Molecular weights of HA</th>
                         <th scope="col">Concentration of HA Crosslinkate</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr style="text-align: center;">
                         <td>Forehead, periocular area, perioral area,
                           nasolabial area, cheeks, hands, neck, decollete,</td>
                         <td>Eva Technique</td>
                         <td>HA 1000 kda to 2000 kda</td>
                         <td>20 mg/ml</td>
                       </tr>
                       
                      
                     </tbody>
                   </table>
                  
               </div>
            </div>
         </div>
         <!--  newsletter section end -->
            <!--  newsletter section start -->
         <div class="newsletter_section layout_padding" style="background-color: white;">
            <div class="container">
               <div class="row">
                 
                  
                 
                  <div class="col-md-7">
                    
                    
                     <h1 class="newsletter_taital">CROSS-LINKING
                        WITH BDDE</h1>
                     <h1 >•Sorrentino Skinbooster is a newly conceived hyaluronic
                        acid-based skinbooster.
                        The main feature is the low cross-linking which allows
                        constant activation of the fibroblast for 30 days.
                        On average all the other Skinbooster, being not cross-linked, have an activation of only 7/10 days and with a fast
                        enzymatic degradation process.
                        Our main competitors have a double molecular weight but
                        do not have a cross-link agent and this does not guarantee
                        a long-term barrier like Sorrentino skinbooster | L |.
                        Sorrentino skinbooster | L |uses a 30G needle, the other
                        29G, so that our product is less traumatic in addition to the
                        greater ergonomics of the syringe.</h1>
                        
                             
                  </div>
                  <div class="col-md-5">
                     <div class="imgage_6" style="align-items: center;"><img src="images/18nobg.png" style="border-radius: 5%; "></div>
                  </div>
                  
               </div>
            </div>
         </div>
         <!--  newsletter section end -->
           
        <!-- footer section start -->
        <div class="footer_section">
         <div class="container-fluid">
            <div class="footer_location_text">
               <ul>
                  <li class="col-md-4"><img src="images/map-icon.png"><span class="padding_left_10">ITALY : Via F.parri 30126 Venezia VE
                     </span>
                     <span class="padding_left_10"><span class="padding_left_10"><a href="#">TUNISIA : Avenue el Bosten, Rue Seville 3002 Sfax
                       
                       
                     </span></li>
                    
                     <li class="col-md-4"><img src="images/call-icon.png"><span class="padding_left_10"><a href="#">Mr. Mario Sorrentino: +39 347 229 8722</a></span></li>
                     <li class="col-md-4"><img src="images/call-icon.png"><span class="padding_left_10"><a href="#"> Mr. Foued Aidi: +216 28 425 423</a></span></li>
                     <li class="col-md-12"><img src="images/mail-icon.png"><span class="padding_left_10"><a href="#">itmsrl@yahoo.com</a></span></li>
            
                  </ul>
               </div>
            <div class="container">
            <div class=" row" >
               
               <div class="col-md-5">
                  <h2 class="useful_text">Useful link </h2>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Protocole.html">Protocol</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
              
               <div class="col-md-5">
                  <h2 class="useful_text">Social Media</h2>
                  <div id="social">
                     <a class="facebookBtn smGlobalBtn active" href="#" ></a>
                     <a class="twitterBtn smGlobalBtn" href="#" ></a>
                     <a class="googleplusBtn smGlobalBtn" href="#" ></a>
                     <a class="linkedinBtn smGlobalBtn" href="#" ></a>
                  </div>
               </div>
               <div class="col-md-2">
                  <h2 class="useful_text">links </h2>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="https://itm.today" target="_blank">ITM</a></li>
                        <li><a href="http://www.sorrentinoskincare.it" target="_blank">sorrentinoskincare</a></li>
                        
                     </ul>
                  </div>
               </div>
               
               
            </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
     
      
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>